body {
    height: 100vh;
    width: 100%;
    margin: 0;



}

.container-fluid {
    background: url("cakeee_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;

}

.msg {
    font-size: 20px;
}

.msg_1 {
    font-size: 25px;

}